In [1]:
import pandas as pd
import math
import numpy as np
import json

from pathlib import Path
import scipy.stats as st

In [2]:
# Collect predictions

def check_num_epochs(run):
    if Path(run / "val_log.csv").is_file():
        with open(run / 'config.json') as f:
            cfg = json.load(f)

        num_epochs = cfg['num_epochs']
        val_iter = cfg['validate_iter']
        num_epochs = int(num_epochs / val_iter)

        valid_log = pd.read_csv(run / "val_log.csv", header=None, index_col=0)
        if (len(valid_log.index)-1) < num_epochs:
            print("Wrong number of epochs in run: {}".format(run))
    else:
        print("val_log.csv not exists in run: {}".format(run))

def check_only_one_tensorboard(run):
    if len(list(Path(run / "runs").glob('*'))) > 1:
        print("More than 1 tensorboard folder in run: {}".format(run))

def collect_one(model_name, run, csv_file):
    check_num_epochs(run)
    check_only_one_tensorboard(run)
    
    with open(run / 'config.json') as f:
        cfg = json.load(f)

    run_number = cfg['seed']
    regime, inv_temp = float(run.parent.parts[-1].rsplit('-', 1)[1]), float(run.parent.parts[-2].rsplit('-', 1)[1])

    csv_path = run / csv_file
    if not csv_path.exists():
        print(f'Skipping not found: {csv_path}')
        return pd.DataFrame()
    
    data = pd.read_csv(csv_path)
    if data.empty:
        print(f'Pred file is empty: {csv_path}')

    data['model'] = model_name
    data['run_number'] = int(run_number)
    data['inv_temp'] = int(inv_temp)
    data['regime'] = int(regime)
    
    return data

def collect_all(model_name, root, csv_file, regimes=['1', '2', '5', '10', '20','100'], ignore_outliers=True):
    root = Path(root)

    metrics = []
    for inv_temp in list(root.glob("inv_temp-*")):
        for regime in list(inv_temp.glob("regime-*")):
            if regime.name.rsplit("-", 1)[1] in regimes:
                for run in list(regime.glob("run-*")):
                    if ignore_outliers and 'outlier' in run.as_posix():
                        continue
                    else:
                        metrics.append(collect_one(model_name, run, csv_file))
        
    metrics = pd.concat(metrics, ignore_index=True)
    
    return metrics

In [3]:
# Compute metrics for each detected run

def compute_metrics(data, grouping, metric_names=['Dice', 'Jaccard', 'Hausdorff Distance', 'Average Surface Distance']):
    metrics_dict_names = {
        'Dice': 'dice',
        'Jaccard': 'jaccard',
        'Hausdorff Distance': '95hd',
        'Average Surface Distance': 'asd'
    }

    columns = ['Model', '# Run', 'Inv Temp', 'Regime']
    columns.extend(metric_names)
    metrics = []
    
    data = data.copy().reset_index()
    grouped = data.groupby(grouping)
    
    for model_group, predictions in grouped:
        model_name, run_number, inv_temp, regime = model_group[0], int(model_group[1]), int(model_group[2]), int(model_group[3])
        
        metric_values = []
        for metric_name in metric_names:
            values = predictions['segm/{}'.format(metrics_dict_names[metric_name])].values
            mean_value = np.nanmean(values)
            if metric_name == 'Dice' or metric_name == 'Jaccard':
                metric_values.append((math.ceil(mean_value*10000)/10000)*100)
            else:
                if not np.isnan(mean_value):
                    metric_values.append(math.ceil(mean_value*100)/100)
                else:
                    metric_values.append(mean_value)
        
        metrics.append([model_name, run_number, inv_temp, regime, *metric_values])
        
    metrics_df = pd.DataFrame(metrics, columns=columns)
    
    return metrics_df

def summarize_metrics(metrics, metric_names=['Dice', 'Jaccard', 'Hausdorff Distance', 'Average Surface Distance'], confidence_level=0.90, return_ranges=False):

    def compute_ci(values, return_ranges=False):
        ci = st.t.interval(confidence_level, len(values)-1, loc=np.mean(values), scale=np.std(values)/(len(values)**0.5))

        if return_ranges:
            return ci
        else:
            return (ci[1]-ci[0]) / 2

    #mean_metrics = metrics.groupby(['Model', 'Inv Temp', 'Regime'])[metric_names].aggregate([('Mean', np.mean), ('STD', np.std), ("CI {}%".format(confidence_level), compute_ci)])
    mean_metrics = metrics.groupby(['Model', 'Inv Temp', 'Regime'])[metric_names].aggregate([('Mean', 'mean'), ("CI {}%".format(confidence_level), compute_ci)]) 

    return mean_metrics

<h1>GlaS Dataset</h1>

<h2>Evaluation - Searching temperature hyperparameter</h2>

<p>Evaluate Hebbian models belonging to SWTA paradigm to search best temperature values (this value is dataset-specific)</p>

In [22]:
EXP_ROOT = "./runs"

REGIMES = ['100']

runs = {
    'H-UNet-SWTA-T': list(Path(EXP_ROOT + '/GlaS/hebbian_unsup/').glob('unet_swta_t')),
}

In [23]:
# Collect predictions scanning runs
predictions = pd.concat([collect_all(k, r, 'test.csv', regimes=REGIMES, ignore_outliers=False) for k, v in runs.items() for r in v], ignore_index=True)

In [24]:
# Computing metrics
model_grouper = ['model', 'run_number', 'inv_temp', 'regime']
metrics = compute_metrics(predictions, model_grouper, metric_names=['Dice', 'Jaccard'])

display(metrics)

summary = summarize_metrics(metrics, metric_names=['Dice', 'Jaccard'])

display(summary)

           Model  # Run  Inv Temp  Regime   Dice  Jaccard
0  H-UNet-SWTA-T      0         1     100  42.42    26.92
1  H-UNet-SWTA-T      0         5     100  46.53    30.32
2  H-UNet-SWTA-T      0        10     100  43.84    28.07
3  H-UNet-SWTA-T      0        20     100  49.06    32.50
4  H-UNet-SWTA-T      0        50     100  48.60    32.10
5  H-UNet-SWTA-T      0        75     100  46.46    30.26
6  H-UNet-SWTA-T      0       100     100  46.01    29.88

/home/luca/anaconda3/envs/xnet/lib/python3.10/site-packages/scipy/stats/_distn_infrastructure.py:2244: RuntimeWarning: invalid value encountered in multiply
  lower_bound = _a * scale + loc
/home/luca/anaconda3/envs/xnet/lib/python3.10/site-packages/scipy/stats/_distn_infrastructure.py:2245: RuntimeWarning: invalid value encountered in multiply
  upper_bound = _b * scale + loc

                                Dice         Jaccard
                                Mean CI 0.9%    Mean CI 0.9%
Model         Inv Temp Regime
H-UNet-SWTA-T 1        100     42.42     NaN   26.92     NaN
              5        100     46.53     NaN   30.32     NaN
              10       100     43.84     NaN   28.07     NaN
              20       100     49.06     NaN   32.50     NaN
              50       100     48.60     NaN   32.10     NaN
              75       100     46.46     NaN   30.26     NaN
              100      100     46.01     NaN   29.88     NaN

In [16]:
EXP_ROOT = "./runs_from_lr0.001"

REGIMES = ['1', '2', '5', '10', '20']

runs = {
    'H-UNet-SWTA-T': list(Path(EXP_ROOT + '/GlaS/semi_sup/').glob('h_unet_swta_t')),
}

In [17]:
# Collect predictions scanning runs
predictions = pd.concat([collect_all(k, r, 'test.csv', regimes=REGIMES, ignore_outliers=False) for k, v in runs.items() for r in v], ignore_index=True)

In [18]:
# Computing metrics
model_grouper = ['model', 'run_number', 'inv_temp', 'regime']
metrics = compute_metrics(predictions, model_grouper, metric_names=['Dice', 'Jaccard'])

display(metrics)

summary = summarize_metrics(metrics, metric_names=['Dice', 'Jaccard'], confidence_level=0.90)

display(summary)

             Model  # Run  Inv Temp  Regime   Dice  Jaccard
0    H-UNet-SWTA-T      0         1       1  67.77    51.25
1    H-UNet-SWTA-T      0         1       2  67.77    51.25
2    H-UNet-SWTA-T      0         1       5  69.35    53.08
3    H-UNet-SWTA-T      0         1      10  67.80    51.29
4    H-UNet-SWTA-T      0         1      20  70.34    54.25
..             ...    ...       ...     ...    ...      ...
345  H-UNet-SWTA-T      9       100       1  68.89    52.55
346  H-UNet-SWTA-T      9       100       2  68.23    51.78
347  H-UNet-SWTA-T      9       100       5  76.05    61.35
348  H-UNet-SWTA-T      9       100      10  78.94    65.20
349  H-UNet-SWTA-T      9       100      20  81.42    68.66

[350 rows x 6 columns]

                                 Dice           Jaccard
                                 Mean   CI 0.9%    Mean   CI 0.9%
Model         Inv Temp Regime
H-UNet-SWTA-T 1        1       67.845  0.066208  51.336  0.075679
                       2       67.895  0.171849  51.395  0.197607
                       5       68.180  0.329339  51.724  0.380689
                       10      68.476  0.394900  52.066  0.458551
                       20      68.520  0.556132  52.122  0.648968
              5        1       67.948  0.267670  51.455  0.307267
                       2       68.216  0.317644  51.766  0.368015
                       5       68.605  0.453504  52.220  0.529125
                       10      68.909  0.473472  52.570  0.551447
                       20      69.777  0.694322  53.595  0.820789
              10       1       68.051  0.190051  51.573  0.219209
                       2       69.169  1.136262  52.907  1.362668
                       5       72.064  1.310147  56.377  1.583426
                       10      74.006  1.832360  58.835  2.282368
                       20      77.342  1.030016  63.084  1.361639
              20       1       68.539  0.954059  52.160  1.141945
                       2       70.109  1.380086  54.026  1.654102
                       5       74.687  0.628750  59.610  0.800157
                       10      78.132  0.522446  64.117  0.704173
                       20      80.196  1.151718  66.985  1.604683
              50       1       68.914  1.083614  52.601  1.303457
                       2       69.928  1.095020  53.792  1.308267
                       5       74.502  1.127803  59.404  1.445187
                       10      78.106  0.545216  64.086  0.735424
                       20      82.145  0.711599  69.717  1.020157
              75       1       68.793  1.055619  52.460  1.272484
                       2       69.253  0.613406  52.977  0.719151
                       5       73.950  1.159985  58.704  1.445628
                       10      78.091  0.337626  64.059  0.455103
                       20      82.302  0.804429  69.949  1.156595
              100      1       68.699  0.940715  52.345  1.125657
                       2       70.647  1.475051  54.675  1.775213
                       5       75.137  1.160290  60.218  1.493608
                       10      78.296  0.732590  64.349  0.983702
                       20      82.307  0.855115  69.958  1.240366

<h2>Evaluation - Data regime variations</h2>

<p>Evaluate Hebbian models over the datasets, by varying the quantity of training data; only fine-tuned models are considered since during pre-training we can consider the whole dataset.</p>

In [53]:
EXP_ROOT = "./runs"

REGIMES = ['1', '2', '5', '10', '20']

runs = {
    #'UNet': list(Path(EXP_ROOT + '/GlaS/semi_sup/').glob('unet')),
    #'EM': list(Path(EXP_ROOT + '/GlaS/semi_sup/').glob('em_unet')),
    #'UAMT': list(Path(EXP_ROOT + '/GlaS/semi_sup/').glob('uamt_unet')),
    #'CPS': list(Path(EXP_ROOT + '/GlaS/semi_sup/').glob('cps_unet')),
    'URPC': list(Path(EXP_ROOT + '/GlaS/semi_sup/').glob('urpc_unet')),
}

In [54]:
# Collect predictions scanning runs
predictions = pd.concat([collect_all(k, r, 'test.csv', regimes=REGIMES, ignore_outliers=False) for k, v in runs.items() for r in v], ignore_index=True)

In [55]:
model_grouper = ['model', 'run_number', 'inv_temp', 'regime']
metrics = compute_metrics(predictions, model_grouper, metric_names=['Dice', 'Jaccard'])

display(metrics)

summary = summarize_metrics(metrics, metric_names=['Dice', 'Jaccard'], confidence_level=0.90)

display(summary)

   Model  # Run  Inv Temp  Regime   Dice  Jaccard
0   URPC      0         1       1  68.03    51.55
1   URPC      0         1       2  67.84    51.33
2   URPC      0         1       5  72.85    57.30
3   URPC      0         1      10  76.63    62.11
4   URPC      0         1      20  81.68    69.03
5   URPC      1         1       1  67.85    51.35
6   URPC      1         1       2  68.23    51.78
7   URPC      1         1       5  72.64    57.04
8   URPC      1         1      10  81.41    68.64
9   URPC      1         1      20  85.75    75.05
10  URPC      2         1       1  67.77    51.25
11  URPC      2         1       2  67.97    51.48
12  URPC      2         1       5  74.38    59.20
13  URPC      2         1      10  79.67    66.21
14  URPC      2         1      20  84.15    72.63
15  URPC      3         1       1  67.90    51.40
16  URPC      3         1       2  68.24    51.80
17  URPC      3         1       5  69.22    52.92
18  URPC      3         1      10  72.42    56.77
19  URPC      3         1      20  85.37    74.46
20  URPC      4         1       1  67.77    51.25
21  URPC      4         1       2  67.77    51.25
22  URPC      4         1       5  78.05    64.01
23  URPC      4         1      10  81.27    68.44
24  URPC      4         1      20  84.15    72.63
25  URPC      5         1       1  68.58    52.19
26  URPC      5         1       2  74.09    58.84
27  URPC      5         1       5  71.10    55.16
28  URPC      5         1      10  75.87    61.12
29  URPC      5         1      20  75.92    61.18
30  URPC      6         1       1  72.29    56.60
31  URPC      6         1       2  72.32    56.65
32  URPC      6         1       5  75.13    60.16
33  URPC      6         1      10  78.49    64.60
34  URPC      6         1      20  80.90    67.92
35  URPC      7         1       1  71.36    55.48
36  URPC      7         1       2  69.37    53.10
37  URPC      7         1       5  76.38    61.78
38  URPC      7         1      10  74.42    59.26
39  URPC      7         1      20  83.21    71.25
40  URPC      8         1       1  71.22    55.31
41  URPC      8         1       2  68.09    51.61
42  URPC      8         1       5  76.99    62.59
43  URPC      8         1      10  79.23    65.60
44  URPC      8         1      20  76.53    61.98
45  URPC      9         1       1  69.37    53.10
46  URPC      9         1       2  67.77    51.25
47  URPC      9         1       5  75.80    61.03
48  URPC      9         1      10  76.85    62.40
49  URPC      9         1      20  73.64    58.27

                         Dice           Jaccard
                         Mean   CI 0.9%    Mean   CI 0.9%
Model Inv Temp Regime
URPC  1        1       69.214  0.964375  52.948  1.138827
               2       69.169  1.218885  52.909  1.460061
               5       74.254  1.527695  59.119  1.918430
               10      77.626  1.610150  63.515  2.136674
               20      81.130  2.366412  68.440  3.286478